altair==5.5.0
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///croot/async-lru_1699554519285/work
attrs==25.3.0
Authlib==1.6.3
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1756453090369/work
bleach @ file:///croot/bleach_1732290411627/work
blinker==1.9.0
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==5.5.2
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
comm @ file:///croot/comm_1709322850197/work
contourpy==1.3.3
cryptography==45.0.7
cycler==0.12.1
cyclopts==3.24.0
debugpy @ file:///home/task_175706710642905/conda-bld/debugpy_1757067121571/work
decorator @ file:///home/task_175734035162575/conda-bld/decorator_1757341232127/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22
email-validator==2.3.0
exceptiongroup==1.3.0
executing @ file:///home/task_175706124557094/conda-bld/executing_1757061259817/work
fastapi==0.116.1
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
fastmcp==2.12.3
fonttools==4.59.2
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
google-genai==1.36.0
h11 @ file:///croot/h11_1748442006460/work
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///croot/httpx_1746747840559/work
httpx-sse==0.4.1
idna==3.10
ipykernel @ file:///home/task_175758336750008/conda-bld/ipykernel_1757583382803/work
ipython @ file:///croot/ipython_1744912971218/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
isodate==0.7.2
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.10.0
json5 @ file:///croot/json5_1730786798687/work
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///croot/jupyterlab_1756453144528/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
kiwisolver==1.4.9
lazy-object-proxy==1.12.0
markdown-it-py==4.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.6
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
mcp==1.14.0
mdurl==0.1.2
mistune @ file:///croot/mistune_1741124011532/work
more-itertools==10.8.0
mpmath==1.3.0
narwhals==2.5.0
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
notebook @ file:///croot/notebook_1756709302552/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numpy==2.3.3
openai==1.107.2
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1753775359799/work
pandas==2.3.2
pandocfilters @ file:///home/task_175697771096564/conda-bld/pandocfilters_1756977754797/work
parse==1.20.2
parso @ file:///croot/parso_1733963305961/work
pathable==0.4.4
pexpect @ file:///croot/pexpect_1750072593878/work
pillow==11.3.0
platformdirs @ file:///croot/platformdirs_1744273042065/work
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==6.32.1
psutil @ file:///home/task_175710403608886/conda-bld/psutil_1757104541537/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/task_175706703828594/conda-bld/pure_eval_1757067053474/work
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///home/task_175749606196006/conda-bld/pycparser_1757496076770/work
pydantic==2.11.9
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.2
pyparsing==3.2.4
pyperclip==1.9.0
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv==1.1.1
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-multipart==0.0.20
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
referencing==0.36.2
requests @ file:///croot/requests_1756709366904/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich==14.1.0
rich-rst==1.3.1
rpds-py==0.27.1
rsa==4.9.1
Send2Trash @ file:///croot/send2trash_1736540790175/work
six @ file:///croot/six_1744271502820/work
smmap==5.0.2
sniffio==1.3.1
soupsieve @ file:///croot/soupsieve_1696347547217/work
sse-starlette==3.0.2
stack_data @ file:///home/task_175706683579810/conda-bld/stack_data_1757067036897/work
starlette==0.47.3
streamlit==1.49.1
sympy==1.14.0
tenacity==9.1.2
terminado @ file:///work/ci_py311/terminado_1677696151350/work
tinycss2 @ file:///croot/tinycss2_1738337643607/work
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata==2025.2
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn==0.35.0
watchdog==6.0.0
wcwidth @ file:///croot/wcwidth_1750352883074/work
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets==15.0.1
Werkzeug==3.1.1
